@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/10;
}

@media (max-width:768px) {
    .vertical-timeline-element-content {
        padding: 14px !important;
    }
}